.header {
    position: relative;

    &__home {
        padding-bottom: 180px;
    }
}

.header__call {
    text-align: center;
    padding: 10px 0; 

    &--page {
        background: #7CAE7A;
    }

    &__link {
        display: block;
        color: #646464;
        font-size: 14px;

        &--page {
            color: #f1f1f1;
        }
    }
}

.header__container {
    background: linear-gradient(200deg, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.4) 60%), url(../media/planeview2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    position: relative;

    @include mobileL {
        padding: 40px;
    }

    @include laptopL {
        padding: 40px 10%;
    }

    &--page {
        background: url("../media/topography.png");
        box-shadow: 0 0 8px rgba(0,0,0, .2);
        margin: 10px 10px 100px 10px;
        padding: 0;
        border-radius: 20px;

        @include mobileL {
            margin: 40px 40px 100px 40px;
        }

        @include laptopL {
            margin: 40px 10% 100px 10%;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--page {
            padding: 10px;
        }

        &__logo {
            height: 65px;
            
            &--page {
                filter: brightness(.6);
            }
        }
    }

    &__nav__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border: 2px solid #fff;
        border-radius: 50px;

        &--page {
            border: 2px solid #7CAE7A;
        }

        &__text {
            font-family: 'Permanent Marker';
            color: #f1f1f1;

            &--page {
                color: #646464;
            }
        }
    }

    &__nav__list {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #7CAE7A;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 200px 10px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility .4s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__links {
            font: 24px/1 'Permanent Marker';
            color: #f1f1f1;

            &--close {
                position: relative;
                display: block;
                margin: 0 auto;
                height: 60px;
                width: 60px;
                border: 2px solid #fff;
                border-radius: 50px;

                &:hover span,
                &:hover span:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotate(270deg);
                }

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotateZ(45deg);
                    display: block;
                    width: 2px;
                    height: 35px;
                    border-radius: 50px;
                    background: #f1f1f1;
                    transition: transform .6s;
                }

                span:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotateZ(-45deg);
                }
            }
        }

        &__img {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            width: 100%; 
            object-fit: cover;
            opacity: .15;
        }
    }

    &__content {
        padding: 60px 0 120px;

        @include laptop {
            padding: 100px 0 180px;
        }

        @include laptopL {
            padding: 100px 0 260px;
        }

        &__title,
        &__title span {
            font: 36px/.8 'Permanent Marker';
            color: #f1f1f1;

            @include laptop {
                font-size: 60px;
            }

            span {
                display: block;
            }
        }

        &__text {
            color: #d4d4d4;
            padding: 10px 0 40px 0;

            @include mobileL {
                max-width: 400px;
            }

            @include laptop {
                max-width: 500px;
                font-size: 22px;
            }
        }

        &__link {
            color: #f1f1f1;
            background: #7CAE7A;
            padding: 8px 24px;
            border-radius: 50px;
            text-transform: capitalize;

            @include laptop {
                font-size: 20px;
            }
        }
    }

    &__gallery {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        &__img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 150px;
            width: 100%;
            object-fit: cover;

            @include tablet {
                height: auto;
            }
        }
    }
}